# eclipse
server_run
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
server_run

# other
eclipse
run
server_run

# Files from Forge MDK
forge*changelog.txt
